<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RestBay" verbose="2" parallel="false">

    <test name="RestBay: Basic Services">
        <classes>
            <class name="org.jboss.seam.example.restbay.test.BasicServiceTest"/>
        </classes>
    </test>

    <test name="RestBay: Auction Services">
      <classes>
        <class name="org.jboss.seam.example.restbay.test.AuctionServiceTest"/>
      </classes>
    </test>
    
    <test name="RestBay: ResourceHome">
      <classes>
        <class name="org.jboss.seam.example.restbay.test.ResourceHomeTest"/>
      </classes>
    </test>
    
    <test name="RestBay: ResourceQuery">
      <classes>
        <class name="org.jboss.seam.example.restbay.test.ResourceQueryTest"/>
      </classes>
    </test>
</suite>