/* Setup defaults since variable in browsers
----------------------------------------------- */
body, div, span, dd, dt, dl, img, ul, ol, li, p, h1, h2, h3, h4, h5, form, hr, fieldset {
    margin: 0;
    padding: 0;
}
/* Element Defaults
----------------------------------------------- */
html {
    height: 100%;
    background-color: #DBD4C6;
    overflow-y: scroll;
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 1.25em;
    color: #362F2D;
    position: relative;
    width: 760px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
a img {
    border: none;
}
.label {
    font-weight: bold;
    color: #5E5147;
}
input, select {
    border: 1px solid #C3BBB6;
    margin: 5px 0;
    background: #FFFFFF url(../img/input.bg.gif) 0 0 repeat-x;
}
input {
    padding: 4px;
}
select {
    padding: 1px;
}
ol, ul {
    margin: 10px 0px 10px 6px;
}
li {
    margin: 10px 12px;
}
fieldset {
    border: 0;
}
/* Layout
----------------------------------------------- */
#document {
    padding: 0 1px;
    background: #FFFFFF url(../img/bg.gif) 0 0 repeat-y;
    float: left;
    border-bottom: 1px solid #C3BBB6;
}
#header {
    float: left;
    width: 758px;
    height: 46px;
    background: url(../img/hdr.bg.gif) 0 0 repeat-x;
}
#container {
    float: left;
    width: 758px;
    background: url(../img/hdr.bar.jpg) 0 0 repeat-x;
}
#sidebar {
    float: left;
    width: 190px;
    margin-top: 96px;
    padding: 20px 10px 0 10px;
    background: url(../img/sdb.bg.gif) 0 0 no-repeat;
}
#content {
    float: left;
    width: 548px;
    margin-top: 75px;
    padding-top: 5px;
    background: #FFFFFF url(../img/cnt.bg.gif) 0 0 repeat-x;
}
#footer {
    clear: both;
    margin-top: 40px;
    float: left;
    padding: 20px;
    border-top: 1px solid #C3BBB6;
    background-color: #FFFFFF;
    width: 718px;
    text-align: right;
}
/* General
----------------------------------------------- */
input[type=submit], input[type=button] {
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid #5D1414;
    height: 26px;
    background: #FFFFFF url(../img/btn.bg.gif) 0 0 repeat-x;
    border-style: none;
	cursor: pointer;
}
.center {
    text-align: center;
}
.entry {
    clear: both;
    padding-top: 10px;
}
.entry .label {
    float: left;
    padding-right: 5px;
    font-weight: bold;
    width: 160px;
    text-align: right;
}
.entry input {
    margin: 0;
}
.entry .input, .entry .output, .entry .error {
    float: right;
    width: 350px;
    text-align: left;
}
/* Sidebar
----------------------------------------------- */
.notes {
    text-align: center;
    font-size: small;
}
.subnotes {
     margin-top: 1em;
    font-size: small;
}
.errors {
    font-size: small;
    font-weight: bold;
    /*text-align: center;*/
    color: #600000;
}
.errors div {
    text-align: left;
}
.errors span {
    text-align: left;
}
.errors input, .errors select, .errors textarea {
    border: 1px solid #600000;
}
.errors ul {
    list-style: none;
}
#messages {
    margin-left: 1px;
    margin-bottom: 20px;
}
#messages li {
    margin-left: 0;
}
.buttonBox {
    text-align: center;
    padding: 5px 0;
    clear: both;
}
#sidebar p {
    font-size: small;
    color: #8B7869;
    line-height: 150%;
    padding-bottom: 10px;
}
#sidebar li {
    font-size: small;
    color: #8B7869;
}
#sidebar h1 {
    line-height: normal;
    font-weight: bold;
    font-size: small;
}
/*
#sidebar p:hover {
    color: #362F2D;
}
*/
/* Content
----------------------------------------------- */
#content .section {
    float: left;
    width: 518px;
    padding: 15px 15px 0 15px;
}
#content .section h1 {
    font-family: "Trebuchet MS", Arial, sans-serif;
    line-height: normal;
    font-weight: normal;
    font-size: large;
}
#content .section p {
    line-height: 150%;
    padding: 10px 0;
    font-size: small;
}
#content table {
    width: 100%;
    border: 1px solid #D2C9C4;
    border-collapse: collapse;
}
#content table caption {
    padding-bottom: 6px;
    text-align: left;
    font-weight: bold;
}
#content table thead th {
    border-left: 1px solid #D2C9C4;
    background: #FFFFFF url(../img/th.bg.gif) 0 100% repeat-x;    
    border-bottom: 1px solid #D2C9C4;
    padding: 6px;
    text-align: left;
    font-size: small;
}
#content table tbody td {
    border-left: 1px solid #E4DBD5;
    padding: 4px;
    border-bottom: 1px solid #D2C9C4;
    font-size: small;
}
td.action {
    text-align: center;
}
#content dt {
    font-weight: bold;
    float: left;
    width: 33%;
}
#content dd {
    padding-left: 10px;
    float: left;
    width: 66%;
}
#content table.radio {
    border: 0px;
}
#content table.radio tbody tr td {
    border: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
#activity {
    float: right;
    margin: 10px 5px 0 0;
}
/* Header
----------------------------------------------- */
#title {
    float: left;
    padding: 1px 0 6px 15px;
}
#status {
    color: #C7B299;
    float: right;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-small;
    text-align: right;
    padding-top: 14px;
    padding-right: 15px;
}
#status a {
    color: #C7B299;
    text-decoration: none;
}
#status span.user {
    padding-right: 5px;
    color: #FFFDFB;
    font-weight: normal;
}
/* Homepage Modifications
----------------------------------------------- */
body.home #container {
    background: url(../img/hdr.ad.jpg) 0 0 repeat-x;
}
body.home #sidebar {
    margin-top: 207px;
}
body.home #content {
    margin-top: 183px;
}
/* Extras
----------------------------------------------- */
#javax_faces_developmentstage_messages {
    display: none;
}
