<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Hotel Booking" verbose="2" parallel="false">

   <test name="Hibernate Booking">
     <classes>
       <class name="org.jboss.seam.example.hibernate.test.LoginTest"/>
       <class name="org.jboss.seam.example.hibernate.test.BookingTest"/>
       <class name="org.jboss.seam.example.hibernate.test.ChangePasswordTest"/>
     </classes>
   </test>
	
</suite>