<?xml version="1.0" encoding="UTF-8"?>
<!--
   If you're using GlassFish V3, you can update the version attribute to 3.0 and the schema document to web-app_3_0.xsd
   JBoss AS 6.0.0.M1 does not support Servlet 3.0 (expected in 6.0.0.M2)
-->
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
      http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Activate the JSF 2.0 servlet -->
    <!-- The JSF servlet declaration and mapping are not required for GlassFish V3 -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Tell the context which URLs to process as facelets.  -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

    <!-- This is an optional parameter, but it makes troubleshooting errors much easier -->
    <!-- You are advised to delete this context parameter before a production deployment -->
    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>

    <!--listener>
       <listener-class>org.jboss.weld.extensions.resourceLoader.servlet.ResourceListener</listener-class>
    </listener-->

</web-app>
