.page {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    margin-top: 15px;
    height: 50px;
    background: #d5a5ac;
    padding: 5px;
}

.content {
    margin-top: 15px;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 5px;
}

.propertyName {
    padding: 5px;
    background-color: #aaaaaa;
}

.propertyValue {
    padding: 5px;
    background-color: #dddddd;
}
