<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>In-depth Explanation</title>
	<link href="../css/trailblazer_main.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="main">
  <div class="trail">
    <div class="numbox">1</div>
    <h2>What is JBoss Seam with ICEfaces</h2>
    <img src="../img/header_line.gif" />
    
    <p>
       <center>
       <form>
          <INPUT type="button" value="Close Window" onclick="window.close()">
       </form>
       </center>
    </p>
    
    <p>
       This application is very similar to the examples/booking application with the exception
       of using ICEfaces for the web presentation environment.  This application looks and
       feels simliar to the booking example and showcases how ICEfaces integrates well with Seam.
    </p>
	
    <p>
       ICEfaces provides a rich web presentation environment for JavaServer Faces (JSF) 
       applications with AJAX-based interactive features.  It replaces the standard HTML-based 
       JSF renderers with Direct-to-DOM (D2D) renderers, and may be added with little modification
       to Seam applications
    </p>
    <p>
       Like all JBoss software, this entire software stack is free. The full source code of this 
       sample application is available in the <code>examples/icefaces</code> directory of the 
       <a href="http://www.jboss.com/products/list/downloads#seam">Seam distribution</a>. 
    </p>
    <p>
       For further information and examples using ICEfaces with Seam please visit
       <a href="http://icefaces.org">ICEfaces.org</a>
    </p>
   <p>
       <center>
       <form>
          <INPUT type="button" value="Close Window" onclick="window.close()">
       </form>
       </center>
    </p>
 </div>
</div>

</body>
</html>
