@import url("cupertino/jquery-ui-1.8.6.custom.css");
@import url("jquery.cleditor.css");

body {
    margin: 0;
    padding: 0;
    background-color: #EAECEE;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

#container {
    margin: 0 auto;
    padding: 0 20px 10px 20px;
    border: 1px solid #666666;
    width: 865px; /* subtract 40px from banner width for padding */
    background: #FFFFFF url(images/banner2.png) no-repeat;
    padding-top: 110px;
}

#content > div {
    #margin-right: 5em;
}

#sidebar {
    #position: relative;
    font-size: 0.9em;
    width: 225px;
    float: right;
    #clear: both;
    border: 1px solid #666666;
    background: #EAECEE;
    padding: 0 15px 5px 15px;
    margin-left: 2em;
}

#sidebar ul {
    padding-left: 30px;
}

#footer {
    clear: both;
    text-align: center;
    color: #666666;
    font-size: 0.85em;
    padding: 3em 0 0 0;
}

code {
    font-size: 1.1em;
}

span.invalid {
    padding-left: 3px;
    color: red;
}

/* TAB PANEL STYLES */
div.tabpanel div.tab-row {
    float: left;
    width: 574px;
    background: white url("tabs/bg.gif") repeat-x bottom;
    line-height: normal;
}

div.tabpanel div.tab-row ul {
    margin: 0;
    padding: 10px 10px 0;
    list-style: none;
}

div.tabpanel div.tab-row li {
    float: left;
    background: url("tabs/left.gif") no-repeat left top;
    margin: 0;
    padding: 0 0 0 9px;
    list-style: none;
}

div.tabpanel div.tab-row a {
    display: block;
    background: url("tabs/right.gif") no-repeat right top;
    padding: 5px 15px 4px 6px;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    color: #eee;
}

div.tab-panel {
    float: left;
    #clear: both;
    width: 574px;
}

div.tabpanel div.tab-row a:hover {
    color: #fff;
}

div.tabpanel div.tab-row li.selected {
    background-image: url("tabs/left_on.gif");
}

div.tabpanel div.tab-row li.selected a {
    background-image: url("tabs/right_on.gif");
    color: #333;
    padding-bottom: 5px;
}
