body {
  font-family: verdana, arial, sans-serif, helvetica;
  background-color: #ffffff;
  font-size:11px;
  margin: 0;
}

div.seambay-logo {
  float: left;
  background: url(../img/seambay.png) top left no-repeat;
  width: 236px;
  height: 64px;
  margin: 4px 6px 4px 6px;
}

div.header_tools_top {
  height: 36px;
  background-color: #eeeeee;
  margin: 8px 8px 0px 248px;
}

div.header_tools_bottom {
  height: 20px;
  background-color: #eeeeee;
  margin: 0px 8px 8px 248px;
  border-bottom: 1px solid #0000aa;
}

div.header_links {
  float: left;
  margin: 8px 0px 0px 12px;
}

div.header_search {
  margin: 8px 12px 0px 4px;
  float: right;
}

a.header_action, a.header_action:visited {
  height: 20px;
  background-color: #ffffff;
  font-family: arial, helvetica;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  padding: 4px 16px 4px 16px;
  border: 1px solid #0000aa;
  margin: 0px -1px -1px 0px;
}

a.header_action:hover {
  background-color: #ffffdd;
}

a.header_link, a.header_link:visited {
  font-size: normal;
  color: #0000cc;
  padding: 2px 4px 2px 4px;
}

.clear {
	clear: both;
	font-size: 0px;
}

div.content {
  margin-left: 8px;
  margin-right: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
}

table.colourBar {
  margin-top: 8px;
  margin-bottom: 16px;
}

td.lc1 {
  background-color: #ff3636;
  width: 22%;
  height: 5px;
}

td.lc2 {
  background-color: #990033;
  width: 4%;
}

td.lc3 {
  background-color: #A9D747;
  width: 22%;
  height: 5px;
}

td.lc4 {
  background-color: #738D72;
  width: 4%;
}

td.lc5 {
  background-color: #3A419D;
  width: 22%;
  height: 5px;
}

td.lc6 {
  background-color: #999186;
  width: 4%;  
}

td.lc7 {
  background-color: #F8E070;
  width: 22%;
  height: 5px;
}

div.mainHeader {
  padding: 0px;
  margin: 8px 8px 4px 8px;
}

div.headerTitle {
  font-family: tahoma, verdana, arial, helvetica;
  background-color: #ccccff;
  border-bottom: 4px solid #5566ee;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 8px 8px 8px;
}

div.headerContent {
  background-color: #eeeeff;
  border: 1px solid #ccccff;
  padding: 4px 8px 12px 8px;
}

div.subSection {
  background-color: #eeeeff;
  border-left: 1px solid #ccccff;  
  border-right: 1px solid #ccccff;
  border-bottom: 1px solid #ccccff;  
  padding: 4px 8px 12px 8px;
}

div.alertImage {
  background: url(../img/alert.png) top left no-repeat;
  float: left;
  width: 40px;
  height: 40px;
}

div.alertContent {
  margin-left: 50px;
  padding: 2px 2px 2px 2px;
}