.userControlPanel {
    text-align:right;
    font-size: 75%;
}

.userControlPanel .loginForm, .userControlPanel .logoutForm {
    display: inline;
}

.userControlPanel .label {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 5px;
}

.userControlPanel .link {
    margin-left: 10px;
    margin-right: 5px;
}

.userControlPanel .linkText {
    font-weight: bold;
	color: #C7B299;
	text-decoration: none;
}

.userControlPanel .input {
    background: #fff url(../img/input.bg.gif) 0 0 no-repeat;
    font-size: 100%;
    padding: 1px;
    margin: 0;
    border: 0;
}

.userControlPanel .loginButton, .userControlPanel .logoutButton {
    padding: 2px;
    border: none;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: #C7B299;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100%;
    font-size: 115%;
    font-weight: bold;
    cursor: pointer;
}

.resetPasswordForm {
    display: inline;
}

.resetPasswordRequestForm {
    display: inline;
}

.resetPasswordRequestFormFields {
}

.resetPasswordRequestFormFields .entry .label {
    white-space: nowrap;
}

.resetPasswordRequestFormControls {
}
