<html>
<head>
    <title>restBay Seam example</title>
</head>

<body>

<p>This application does not have a human-user interface. Execute 'ant test' to run the unit tests
and explore the source code.</p>

<p>
You can invoke some of the RESTful webservices directly in your browser though:
</p>

<ul>
    <li>
        <a href="http://localhost:8080/rest-bay/seam/resource/restv1/auction">GET /auction</a>
    </li>
    <li>
        <a href="http://localhost:8080/rest-bay/seam/resource/restv1/auction/19264723">GET /auction/{auctionId}</a>
    </li>
    <li>
        <a href="http://localhost:8080/rest-bay/seam/resource/restv1/category">GET /category/</a>
    </li>
    <li>
        <a href="http://localhost:8080/rest-bay/seam/resource/restv1/category/4">GET /category/{categoryId}</a>
    </li>
</ul>

</body>
</html>